<div class="podcast-wrapper">

  <h1 class="podcast-title">
    <%= @podcast.title %>
  </h1>

  <div class="podcast-body">
    <%= @podcast.description %>
  </div>

  <div class="podcast-episodes">
    <%= erb :_episodes %>
  </div>

</div>
