<% content_for :title do %>
  <title><%= @post_presenter.title %></title>
<% end %>
<% content_for :footer do %>
  <li>
    <a href="http://micahredding.com/curve"><i class="fa fa-envelope-o"></i> Essays by email</a>
  </li>
  <li>
    <a href="http://twitter.com/?status=<%= URI.encode "\"#{message}\" #{request.scheme}://#{request.host}#{@post_presenter.path} via @micahtredding" %>"><i class="fa fa-twitter"></i> Tweet this</a>
  </li>
<% end %>
<article class="post">
  <%= @post_presenter.content %>
</article>
