* {
  box-sizing: border-box;
}
body {
  background: #eee;
  margin:0;
  padding:0;
}
body .page {
  margin:2em 1em;
  @include media($desktop-medium) {
    margin:2em auto;
    max-width: $max-width;
  }
}
iframe, .fluid-width-video-wrapper {
  margin-bottom: 1em;
}
a {
  color: #0071B3;
  &:hover, &:focus {
    color: #018fe2;
  }
}

header {
  font-size: 0.9em;
  @include media($desktop) {
    font-size: 1em;
  }
  span {
    color: #999;
    display: inline-block;
    text-transform: lowercase;
    a {
      color: #999;
      text-decoration: none;
      display: inline-block;
      padding:10px 20px;
      &:hover {
        // color: #018fe2;
        color: #333;
      }
    }
    span {
      display: none;
      // @include media($desktop) {
      //   display: inline;
      // }
    }
  }
}

.footer-links {
  background: #111;
  @include media($desktop) {
    background:none;
    position: fixed;
    right:0;
    top:0em;
    width:12em;
  }
  a {
    color:#999;
    display: block;
    font-size: 0.9em;
    line-height: 1.5em;
    &:hover {
      color: #333;
      text-decoration: none;
    }
  }
  li {
    padding:1em 2em 0em 1em;
  }
}


