* {
  box-sizing: border-box;
}
body {
  background: #ddd;
  margin:0;
  padding:0;
}
body .page {
  margin:2em 1em;
  @include media($desktop-medium) {
    margin:2em auto;
    max-width: $max-width;
  }
}
iframe, .fluid-width-video-wrapper {
  margin-bottom: 1em;
}
a {
  color: #0071B3;
  &:hover, &:focus {
    color: #018fe2;
  }
}

header {
  font-size: 0.9em;
  @include media($desktop) {
    font-size: 1em;
  }
  span {
    color: #999;
    display: inline-block;
    text-transform: lowercase;
    a {
      color: #999;
      text-decoration: none;
      display: inline-block;
      padding:10px 20px;
      &:hover {
        // color: #018fe2;
        color: #333;
      }
    }
    span {
      display: none;
      // @include media($desktop) {
      //   display: inline;
      // }
    }
  }
}

$padding:20px;
.footer-links {
  background: #111111;
  a, a:visited {
    color:#eee;
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    padding:($padding / 2) $padding;
    &:hover {
      background: #ffffff;
      text-decoration: none;
      color: #000000;
    }
  }
  p {
    margin:0 0;
  }
  .fb-like {
    padding: $padding;
  }
  .twitter-like {
    margin:1em;
    @include media($desktop) {
      margin:1em -1em 1em 1em;
    }
  }
  .footer-links-inner {
    margin:0 auto;
    padding: $padding 0;
    max-width: 800px;
    text-align: right;
    @include media($desktop) {
      padding:0 0;
    }
  }
}
.footer-links {
  @include media($desktop) {
    position: fixed;
    top:0em;
    right:0;
    background:none;
    a, a:visited {
      background:none;
      text-align: right;
      color: #000000;
    }
  }
}


